.call-to-action{
    background: $primary-red;
    color:white;
    text-align:center;
    padding: 3rem 1.5rem;

    h1{
        margin-top:3rem;
    }

    button{
        margin-top:3rem;
        margin-bottom:3rem;
    }
}