.features{
    text-align:center;
    .feature{
        padding-left:1.5rem;
        .feature-title{
          
            background: $main-light-red;
            height: 35px;
            display:flex;
            align-items: center;
            .feature-id{
                width:18%;
                border-radius: 20px;
                background: $primary-red;
                color:white;
                line-height: 35px;
                margin-left:-0.5rem;
            }
            .feature-name{
                flex:1;
                text-align: left;
                margin-left:0.5rem;
            }
        }
        .feature-copy{
            padding-left:-0.5rem;
            text-align: left;
        }
    }
    @media (min-width: 900px){
        text-align:left;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        .section-title{
            width:50%;
            text-align: left;
            padding: 2rem;

            h1{
                padding-right: 2rem;
            }  
            p{
                padding-right: 6rem;
            }
        }
        .features-container{
            width:50%;
            .feature{
                .feature-title{
                    background: white;
                }
                .feature-id{
                    width:66px;
                    text-align: center;

                }
                .feature-copy{
                    padding-right:2rem;
                }
            }
            
        }
    }
}