
header{
    width:100%;
    position: relative;
    overflow:hidden;
    &:before{
        position: absolute;
        content:"";
        @media (max-width: 766px){
            width:180%;
            height:25%;
            right:-60%;
        }
        @media (min-width: 767px){
            width:80%;
            height:40%;
            right:-10%;
        }
     
        border-radius: 100px;
        transform: rotate(-45deg);
        transform-origin: top;
        top:0;
       
        background: $main-light-red;
        z-index:-1;
    }
    @media (max-width:767px){
        &:after{
            position: absolute;
            content:"";
            width:100%;
            height:25%;
            border-radius: 80px;
            transform: rotate(-45deg);
            transform-origin: top;
            top:70%;
            right:-35%;
            background: $main-light-red;
            z-index:-1;
        }
    }
    .navbar-white{
        background: white;
    }
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        position:fixed;
        top:0; 
        left:0;
        height:60px;
        width:100%;
        padding: 2rem;


        @media (max-width:766px){
            .nav-links{
                // display:block;
                position: absolute;
                width:100%;
                height: calc(100vh - 70px);
                top:70px;
                left:0;
                background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
                text-align:center;

                ul{
                    padding: 1rem;
                    background: white;
                    width:80%;
                    margin:auto;
                    border-radius: 5px;
                }

                li{
                    margin-top:1.5rem;
                    margin-bottom: 1.5rem;
                    font-weight:500;
                }

            }   
        }
        @media (min-width:767px){
            .nav-links{
                display:block;
                flex:1;
                max-width:500px;
                padding: 0 2rem;
                ul{
                width:100%;
                display:inline-flex;
                justify-content: space-between;
                align-items: center;
                }
                li{
                    font-size:1rem;
                }
            }
        }
    }

    .intro{
       

        &-image{
            img{
                width:100%;
            }
        }
        &-text{
            text-align: center;
        }
        @media (min-width:767px){
            display:flex;
            flex-direction: row-reverse;
            text-align:left;
            &-image{
                width:50%;
                padding: 2rem 0;
            }
            &-text{
                text-align:left;
                width:50%;
                h1{
                    font-size:2rem;
                }
            }
        }
        @media (min-width: 900px){
            &-text{
                padding: 2rem 3rem;

                p{
                    padding-right:8rem;
                }
            }
        }
    }
    

}