.testimonies{
    input{
        visibility: hidden;
    }
    text-align:center;
    .testimonies-container{
        overflow: hidden;
    }
    .user-slides{
        display:flex;
        width:400vw;
        margin-left:0;
        transition:1s;
    }
    .user-slides-button{
            display:flex;
            width:50px;
            height:10px;
            justify-content: space-between;
            margin-right:auto;
            margin-left:auto;
                label{
                    width:8px;
                    height:8px;
                    border: 1px solid $primary-red;
                    border-radius: 50%;
                    content:"";
                    &:hover{
                        background: $primary-red;
                    }
                }   
        }
    

    .user{
        background: $main-light-gray;
        font-size:0.9rem;
        position:relative;
        padding: 2rem 1rem;
        margin-top:5rem;
        margin-bottom:1rem;
        width: 100vw;

        &-name{
            margin-top:1.5rem;
            margin-bottom:1rem;
        }

        &-picture{
            width:90px;
            height:90px;
            position:absolute;
            top:0;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
    #user1:checked {
        ~.user-slides{
        margin-left:0;}
        ~.user-slides-button label:first-child{
            background: $primary-red;
        }
    }
    
    #user2:checked {
        ~.user-slides{
        margin-left:-100vw;}
        ~.user-slides-button label:nth-child(2){
            background: $primary-red;
        }
    }
    #user3:checked{
        ~.user-slides{
        margin-left:-200vw;}
        ~.user-slides-button label:nth-child(3){
            background: $primary-red;
        }
    }
    #user4:checked {
        ~.user-slides{
        margin-left:-300vw;}
        ~.user-slides-button label:nth-child(4){
            background: $primary-red;
        }
    }
}