$primary-red: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);

$main-color: hsl(227, 12%, 61%);
$main-dark: hsl(233, 12%, 13%);
$main-light-red: hsl(13, 100%, 96%);
$main-light-gray: hsl(0, 0%, 98%);

$main-font: 'Be Vietnam', sans-serif;